<div class="article teaser mb-2 pb-3">
  <div class="outer">
    {{angled-divider}}
    <div class="content-wrapper">
      <div class="container-fluid">
        <div class='row'>
          <div class="article-title col-12 col-md-10 col-lg-8 pt-3 mx-auto text-center">
            {{#link-to "blog.post" article.dashedTitle class=""}}
              <h2 class="text-center">{{article.title}}</h2>
            {{/link-to}}
          </div>
        </div>
        <div class='row'>
          <div class="article-bio pt-2 mx-auto">
            <div class="d-flex">
              <div class="bio-photo">
                <img src="{{article.bio.photo.fullUrl}}" alt="portrait of {{article.bio.title}}" class="photo img-fluid" >
              </div>
              <div class="bio-details col">
                <div class="name">
                  {{article.bio.title}}
                </div>
                <div class="title">
                  {{article.bio.professionalTitle}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class="article-body col-12 col-md-10 col-lg-8 py-3 mx-auto">
            {{html-safe article.body.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>