    <section class="hero-splash">
      <div class="hero-wrapper {{splash.heroColor}} {{splash.heroLayout}}" style="{{splash.heroBackground.inlineBackground}}">
        <div class='overlay {{splash.heroOverlay}}'>
          <div class="container-fluid">
            <div class="row">
              <div class="hero-col">
                <div class="hero-block">
                  <div class="hero-text">
                    {{#if splash.heroBlurb}}
                      <p class="blurb">
                        {{{splash.heroBlurb.value}}}
                      </p>
                    {{/if}}
                    {{#if splash.heroByline}}
                      <p class="byline">{{splash.heroByline}}</p>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>