{{#if section.show}}
  <div class="outer {{section.background}} {{section.heroSize}}{{if section.isHero ' hero-active'}}{{if section.divider ' divided'}}{{if section.backgroundImage ' background-image'}} {{if section.animated 'animated'}} {{section.animation}}" style="{{section.backgroundImage.inlineBackground}}">
    <div class='overlay {{section.overlay}}'>

      {{#if section.divider}}
        {{angled-divider}}
      {{/if}}
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class='row {{section.colHorizontalAlignment}} {{section.colVerticalAlignment}} {{if section.reverse 'flex-sm-row-reverse'}}'>

          {{#each section.column as |column|}}
            <div class='section-column {{column.columnWidthXs}} {{column.columnWidthSm}} {{column.columnWidthMd}} {{column.columnWidthLg}} {{column.columnWidthXl}}'>

            {{#each column.element as |element|}}
              {{#if element.body }}
                {{#text-block}}
                  {{html-safe element.body.value}}
                {{/text-block}}
              {{else if element.listingType}}
                {{!-- Listings of content --}}
                {{listing-block model=element.listingType articles=articles}}
              {{else if element.image }}
                {{#image-block}}
                    {{element.image.fullUrl}}
                {{/image-block}}
              {{else if element.slide}}
                {{slideshow-block model=element.slide}}
              {{else}}
                {{ember-spinner}}
              {{/if}}
            {{/each}}
            </div>
          {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}