{{#if post}}
  {{#if post.heroActive}}
    {{ main-nav class="hero" navColor=post.navColor heroColor=post.heroColor heroOverlay=post.heroOverlay }}
    {{hero-splash splash=post}}
  {{else}}
    {{main-nav}}
  {{/if}}
  <div class="body"> 
    {{html-safe post.body.value}}
  </div>

  {{global-footer}}
{{else}}
  {{loading-spinner}}
{{/if}}