  {{global-header page=page}}

  {{#each page.section as |section|}}
    {{page-section section=section}}
  {{/each}}

  {{!contact-form}}
  <section class="page-section">
    <div class="outer">
      <div class="overlay">
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="section-column col-12  col-md-7 col-lg-5 col-xl-7">
                <div class="element-text">
                  <div class="inner">
                    <h2>We <strong>want</strong> to hear your ideas.</h2>

                    <p class="lead">
                      We get a majority of our business by word of mouth, and we truly appreciate the refreshing change that personal conversations can bring. In the world of texts, email, social media, or whatever technology can make our lives not personal, we would rather you contact us with your voice.
                    </p>

                    <p>
                      We also understand that sometimes that is not possible, for that reason, we have our means of contact here.
                    </p>

                    <p>
                      If you would like to schedule a time to talk, you can <a href="https://calendly.com/smallrobot" rel="noopener" target="_blank">see availability</a>.
                    </p>

                    <p>
                      <a href="https://calendly.com/smallrobot" class="btn btn-green" target="_blank" rel="noopener">
                        <i class="fas fa-clock"></i> Schedule a Meeting
                      </a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="section-column col-12 col-md-3 col-lg-3 col-xl-3">
                <div class="element-text">
                  <div class="inner">
                    <h4>Location</h4>
                    <p>
                      <strong>
                        Small Robot Corp.
                      </strong>
                      <br>
                      Vancouver, BC,
                      <br>
                      Canada
                    </p>
                    <h4>Voice</h4>
                    <p>
                      <a href="tel:+1(604) 762-6269">
                        <i class="fas fa-phone-square"></i> +1(604) 764-6269
                      </a><br>
                      <a href="skype:bmx269?chat">
                        <i class="fab fa-skype"></i> Skype chat
                      </a><br>
                      <a href="mailto:info@smallrobot.co">
                        <i class="fas fa-envelope-square"></i> Email us
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="page-section">
    <div class="outer section-background-graylight">
      <div class="overlay">
        {{angled-divider}}
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <h2 class="col-12 col-md-10 col-lg-8">Contact Form</h2>
              <form class="cd-form col-12 col-md-10 col-lg-8 floating-labels" name="contact" netlify-honeypot="bot-field"
                {{action (route-action 'sendContactRequest' contactForm) on="submit"}} netlify>
                  <div class="row">
                    <div class="col-12 d-none bot-field">
                      <label>Don’t fill this out if you're human:
                        <input name="bot-field"></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label for="fullName">Full Name</label>
                        {{input
                            id="fullName"
                            name="fullName"
                            type="text"
                            value=contactForm.fullName
                            class="form-control"
                        }}
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label for="organization">Organization</label>
                        {{input
                            id="organization"
                            name="organization"
                            type="text"
                            value=contactForm.organization
                            class="form-control"
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label for="email">Email Address</label>
                        {{input
                            id="email"
                            name="email"
                            type="email"
                            aria-describedby="emailHelp"
                            value=contactForm.email
                            class="form-control"
                        }}
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <label for="phone">Phone Number</label>
                        {{input
                            id="phone"
                            name="phone"
                            placeholder="XXX-XXX-XXXX"
                            type="text"
                            value=contactForm.phone
                            class="form-control"
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="message">Message</label>
                        {{textarea
                            id="message"
                            name="message"
                            value=contactForm.message
                            rows="4"
                            class="form-control"
                        }}
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-gray"
                        disabled={{v-get contactForm 'isTruelyInvalid'}}>Submit</button>
                    </div>
                  </div>
                </div>
                <div class="alerts">
                  <div>
                    {{#each flashMessages.queue as |flash|}}
                      {{flash-message flash=flash}}
                    {{/each}}
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{global-footer}}