{{!-- General --}}
<title>DEV Small Robot Co. | Vancouver Web Design, Technical Consulting, App Development, & Support - Drupal</title>
    <meta name="description" content="We are a Vancouver, BC based Web Design,  Technical Consulting, Web Development, and Support company, specializing in Drupal, Ember.js, websites and web apps.">
<meta name="referrer" content="unsafe-url">

{{!-- AMP --}}
<link rel="canonical" href="https://smallrobot.co">

{{!-- Article --}}
{{!-- {{#if model.date}}
  <meta property="article:published_time" content="{{model.date}}">
{{/if}} --}}

{{!-- {{#each model.tags as |tag|}}
  <meta property="article:tag" content="{{tag}}">
{{/each}} --}}

{{!-- Facebook, Slack, etc --}}
<meta property="og:site_name" content="Small Robot Co.">
<meta property="og:title" content="Small Robot Co. | Vancouver Web Design, Technical Consulting, App Development, & Support - Drupal">
<meta property="og:description" content="We are a Vancouver, BC based Web Design,  Technical Consulting, Web Development, and Support company, specializing in Drupal, Ember.js, websites and web apps.">
{{!-- <meta property="og:type" content={{model.type}}> --}}
{{!-- <meta property="og:image" content="http://">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="256">
<meta property="og:image:height" content="256"> --}}
<meta property="og:url" content="https://smallrobot.co">

{{!-- Twitter --}}
{{!-- <meta name="twitter:card" content="summary">
<meta name="twitter:title" content={{if model.articleTitle model.articleTitle model.title}}>
<meta name="twitter:description" content={{model.description}}>
<meta name="twitter:site" content="@bmx269">
<meta name="twitter:creator" content="@bmx269">
<meta name="twitter:url" content={{model.url}}>
<meta name="twitter:image:src" content="http://">
{{#if model.author}}
  <meta name="twitter:label1" content="Written by">
  <meta name="twitter:data1" content="{{model.author}}">
{{/if}}
{{#if model.keywords}}
  <meta name="twitter:label2" content="Filed under">
  <meta name="twitter:data2" content="{{model.keywords}}">
{{/if}} --}}
